@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Block
{
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewData["ContentTitle"]</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @RenderSection("Content", true)
            </div>
        </div>
    </div>
}